* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.cloudinary-button {
  border: none;
  background-color: #008080 !important;
  padding: 5px 40px !important;
}
